[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
isort = "*"
mock = "*"
pexpect = "*"
pylint = "*"
pytest = "*"

[packages]
chardet = "*"
dateutils = "*"
importlib-metadata = "*"
requests = "<2.26.0"
simplejson = "<3.18.0"
six = "*"

[requires]
python_version = "3"
